@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}

body {
    background: #4285F4;
    margin: 0;
    padding: 0;
}
.title-subtitle {
    margin-top: 150px;
}

#round-status {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
    text-align: center;
}

div > h1, h2 {
    color: white;
    text-align: center;
}

div > h1 {
    font-size: 48px;
    margin-bottom: 0;
}

div > h2 {
    font-size: 30px;
    margin-top: 15px;
}

.score-board {
    border: 3px solid white;
    border-radius: 4px;
    margin: 50px auto 50px;
    position: relative;
    width: 200px;
}

.flags {
    background: #d1731b;
    color: white;
    font-size: 11px;
    font-weight: 600;
    padding: 3px 5px;
    position: absolute;
    top: 23px;
}

.flags > p {
    margin: 0;
}
#player {
    left: -23px;
}

#machine {
    right: -27px;
}

.full-score {
    color: white;
    font-size: 58px;
    text-align: center;
}

.choices {
    text-align: center;
}

.choice {
    display: inline-block;
    margin: 0 25px;
    transition: all 0.3s ease;
}

.choice > img {
    width: 100px;
}

.choice:hover {
    cursor: pointer;
    opacity: 0.8;
}

.move {
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

#victory-message {
    color: white;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.green-glow {
    background: rgba(3, 172, 19, 0.65);
}

.red-glow {
    background: rgba(194, 24, 7, 0.65);
}

.blue-glow {
    background: rgba(28, 73, 102, 0.65);
}